{
  "presets": [
    "react",
    "env",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-assign",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "public": "public",
        "components": "components",
        "componentsStyle": "components/style",
        "componentsShare": "components/share",
        "componentsShareIcon": "components/share/icon",
        "componentsShareStyle": "components/share/style",
        "componentsHome": "components/home"
      }
    }]
  ]
}
